
  {% extends 'Blog/base.html' %}
<body>
    <header class="page-header">
        <div class="container">
            <h1> <a href=""> munga tech </a></h1>
        </div>
    </header>
<main class="container">
    <div class="row">
        <div class="col">

      


            {% block content %}

            {% for post in posts %}
            <article class="post">
             <time class="date">published: {{post.published_date}}</time>

             <h2><a href="{% url 'post_detail' pk=post.pk%}">{{post.title}}</a></h2>

             <p>{{post.text|linebreaksbr}}</p>

            {%endfor%}
            </article>


            {% endblock  %}
        </div>


    </div>
</main>
    
</body>
</html>